{% extends 'base1.html' %}
{% block title %}
    {% if object %}编辑{% else %}添加{% endif %}标签类型
{% endblock %}
{% block js1 %}

{% endblock %}
{% block page-title %}
    {% if object %}编辑{% else %}添加{% endif %}标签类型
{% endblock %}
{% block content %}
    <div class="row">
        <div class="col-lg-12">
            <div class="panel panel-default">
                <div class="panel-heading">
                    <h3 class="panel-title">{% if object %}编辑{% else %}添加{% endif %}一个标签类型</h3>
                </div>
                <div class="panel-body">
                    {% if messages %}
                        {% for message in messages %}
                            <div class="alert alert-{{ message.tags }} alert-dismissable">
                                <button type="button" class="close" data-dismiss="alert" aria-hidden="true">×</button>
                                {{ message }}
                            </div>
                        {% endfor %}
                    {% endif %}
                      <form class="form-horizontal" role="form" action="" method="post">
                      {% csrf_token %}
                            <div class="form-group">
                                <label for="name" class="col-sm-3 control-label">类型名称：</label>
                                <div class="col-sm-9">
                                  <input type="text" class="form-control" id="name" name="name" value="{{ object.name }}" autocomplete="off">
                                </div>
                            </div>
                          <div class="form-group">
                                <label for="name_cn" class="col-sm-3 control-label">中文名称：</label>
                                <div class="col-sm-9">
                                  <input type="text" class="form-control" id="name_cn" name="name_cn" value="{{ object.name_cn }}" autocomplete="off">
                                </div>
                            </div>
                            <div class="form-group m-b-0">
                                <div class="col-sm-offset-3 col-sm-9">
                                    <button type="submit" name="_save" class="btn btn-primary">保存</button>
                                        {% if object %}
                                            <button type="submit" name="_savedit"  class="btn btn-primary">保存并继续编辑</button>
                                        {% endif %}
                                    <button type="submit" name="_addanother"  class="btn btn-primary">保存并添加另一个</button>
                                </div>
                            </div>
                      </form>
                </div>
            </div>
        </div>
    </div>
{% endblock %}
{% block js2 %}
    <script>
        $('.taggit').addClass('active');
        $('.taggit .tag_type').addClass('active');
    </script>
{% endblock %}