{% extends "base1.html" %}
{% block js1 %}

{% endblock %}

{% block content %}
 <div class="row">
                    <div class="col-sm-12">
                        <div class="panel panel-default">
                            <div class="panel-heading"><h3 class="panel-title">创建用户</h3></div>
                            <div class="panel-body">
                                <div class=" form">
                                    <form class="cmxform form-horizontal tasi-form" name="modefyForm" id="modefyForm" method="post" action="{% url 'users:userlistJsview' %}" novalidate="novalidate">
                                        <div class="form-group ">
                                            <label for="username" class="control-label col-lg-2">账号 *</label>
                                            <div class="col-lg-10">
                                                <input class=" form-control" id="username" name="username" type="text" value="">
                                            </div>
                                        </div>
                                        <div class="form-group ">
                                            <label for="password" class="control-label col-lg-2">密码 *</label>
                                            <div class="col-lg-10">
                                                <input class="form-control " id="password" name="password" type="password" value="">
                                            </div>
                                        </div>
                                        <div class="form-group ">
                                            <label for="confirm_password" class="control-label col-lg-2">确认密码 *</label>
                                            <div class="col-lg-10">
                                                <input class="form-control " id="confirm_password" name="confirm_password" type="password", value="">
                                            </div>
                                        </div>
                                        <div class="form-group ">
                                            <label for="age" class="control-label col-lg-2">年龄  *</label>
                                            <div class="col-lg-10">
                                                <input class=" form-control" id="age" name="age" type="text" value=18>
                                            </div>
                                        </div>
                                        <div class="form-group ">
                                            <label for="phone" class="control-label col-lg-2">手机  *</label>
                                            <div class="col-lg-10">
                                                <input class=" form-control" id="phone" name="phone" type="text" value="">
                                            </div>
                                        </div>
                                        <div class="form-group ">
                                            <label for="user_type" class="control-label col-lg-2">用户类型  *</label>
                                            <div class="col-lg-10">
                                                <input class=" form-control" id="user_type" name="user_type" type="text"
                                                       value=2 readonly="readonly">
                                            </div>
                                        </div>
                                        <div class="form-group ">
                                            <label for="date_joined" class="control-label col-lg-2">注册日期  *</label>
                                            <div class="col-lg-10">
                                                <input class=" form-control" id="date_joined" name="date_joined" type="text"
                                                       value="2020-04-30" readonly="readonly">
                                            </div>
                                        </div>
                                        <div class="form-group ">
                                            <label for="sex" class="control-label col-lg-2">性别 *</label>
                                            <div class="col-lg-10">
                                                <input type="radio" name="sex" value=0 checked>男
                                                <input type="radio" name="sex" value=1 >女
                                                <input type="radio" name="sex" value=2>保密<br>
                                            </div>
                                        </div>
                                        <div class="form-group ">
                                        <label for="agree" class="control-label col-lg-2 col-sm-3">我已确认所填信息 *</label>
                                        <div class="col-lg-10 col-sm-9">
                                            <input type="checkbox" style="width: 16px" class="checkbox form-control" id="agree" name="agree">
                                        </div>
                                    </div>
                                        <div class="form-group">
                                            <div class="col-lg-offset-2 col-lg-10">
                                                <button class="btn btn-success" type="submit", id="submit">保存</button>
                                                <button class="btn btn-default" type="reset">重置</button>
                                            </div>
                                        </div>
                                        {% csrf_token %}
                                    </form>
                                </div> <!-- .form -->
                            </div> <!-- panel-body -->
                        </div> <!-- panel -->
                    </div> <!-- col -->
                </div> <!-- End row -->
{% endblock %}