{% extends "base.html" %}

{% block content %}

<table border="2">
    <thead>
        <tr>
            <th>姓名</th>
            <th>密码</th>
            <th>手机</th>
            <th>年龄</th>
            <th>性别</th>
            <th>管理</th>
        </tr>
    </thead>
    <tbody>
        {% for user in users %}
        <tr>
            <td>{{ user.name }}</td>
            <td>{{ user.password }}</td>
            <td>{{ user.phone }}</td>
            <td>{{ user.age }}</td>
            <td>
                {% if user.sex == 0 %}男
                {% elif user.sex == 1 %女
                {% else %}保密
                {% endif %}
            </td>
            <td><a href="{% url 'hello:usermodJsview' user.id %}">管理 </a>
                <a href="{% url 'hello:userdelJsview' user.id %}">删除</a>
            </td>
        </tr>
        {% endfor %}
    </tbody>
</table>

{% endblock %}