{% extends 'base1.html' %}
{% block js1 %}

{% endblock %}
{% block title %}
    {% if object.is_active == 0 %}
    启用用户{{ object.username }}
    {% elif object.is_active == 1 %}
    禁用用户{{ object.username }}
    {% endif %}
{% endblock %}
{% block content %}
     <div class="row">
         <div class="col-sm-12">
                        <div class="panel panel-default">
                            <div class="panel-heading">
                                {% if object.is_active == 0 %}
                                <h3 class="panel-title">用户启用</h3>
                                {% endif %}
                                {% if object.is_active == 1 %}
                                <h3 class="panel-title">用户禁用</h3>
                                {% endif %}
                            </div>
                            <div class="panel-body">
                                <div class=" form">
                                    <form class="cmxform form-horizontal tasi-form" id="modefyForm" method="post"
                                          action="{% url 'users:user_active' object.id %}" novalidate="novalidate">
                                        <div class="form-group ">
                                            <label for="username" class="control-label col-lg-2">账号 *</label>
                                            <div class="col-lg-10">
                                                <input class=" form-control" id="username" name="username" type="text" value="{{ object.username }}" readonly="readonly">
                                            </div>
                                        </div>
                                        <div class="form-group ">
                                            <label for="is_active" class="control-label col-lg-2">用户状态 *</label>
                                            <div class="col-lg-10">
                                                {% if object.is_active == 0 %}
                                                    <input type="radio" name="is_active" value=0 checked>禁用
                                                    <input type="radio" name="is_active" value=1>启用
                                                    {% elif object.is_active == 1 %}
                                                    <input type="radio" name="is_active" value=0>禁用
                                                    <input type="radio" name="is_active" value=1 checked>启用
                                                {% endif %}
                                            </div>
                                        </div>
                                        <div class="form-group ">
                                        <label for="agree" class="control-label col-lg-2 col-sm-3">我已确认所填信息 *</label>
                                        <div class="col-lg-10 col-sm-9">
                                            <input type="checkbox" style="width: 16px" class="checkbox form-control" id="agree" name="agree">
                                        </div>
                                    </div>
                                        <div class="form-group">
                                            <div class="col-lg-offset-2 col-lg-10">
                                                <button class="btn btn-success" type="submit">保存</button>
                                                <button class="btn btn-default" type="reset">重置</button>
                                            </div>
                                        </div>
                                        {% csrf_token %}
                                    </form>
                                </div> <!-- .form -->
                            </div> <!-- panel-body -->
                        </div> <!-- panel -->
                    </div> <!-- col -->
     </div> <!-- End row -->
{% endblock %}
{% block js2 %}
    <script>
        $('.user').addClass('active');
        $('.user .groups').addClass('active');
    </script>
{% endblock %}